<mat-nav-list>
  <a mat-list-item routerLink="lot/all" (click)="onSidenavClose()">
    <span class="nav-caption">All lots</span>
  </a>
  <a *ngIf="!isLoggedIn" mat-list-item routerLink="signup" (click)="onSidenavClose()">
     <span class="nav-caption">Sign up</span>
  </a>
  <a *ngIf="!isLoggedIn" mat-list-item routerLink="login" (click)="onSidenavClose()">
    <span class="nav-caption">Login</span>
  </a>
  <a *ngIf="isLoggedIn" mat-list-item routerLink="lot/add" (click)="onSidenavClose()">
    <span class="nav-caption">Add lot</span>
  </a>
  <a *ngIf="isLoggedIn" mat-list-item routerLink="lot/published" (click)="onSidenavClose()">
    <span class="nav-caption">My lots</span>
  </a>
  <a *ngIf="isLoggedIn" mat-list-item routerLink="lot/bought" (click)="onSidenavClose()">
    <span class="nav-caption">Bought lots</span>
  </a>
  <a *ngIf="isLoggedIn" mat-list-item routerLink="profile" (click)="onSidenavClose()">
    <span class="nav-caption">Profile</span>
  </a>
  <a *ngIf="isLoggedIn" mat-list-item routerLink="logout" (click)="onSidenavClose()">
    <span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
