<div *ngIf="chosenLot" class="container">
  <div class="align-items-center">
    <div class="img-container">
      <img class="img-fluid" src="{{blobsUri[0]}}">
    </div>

    <div class="card" style="">
      <div class="card-body">
        <h5 class="card-title"> {{chosenLot.name}}</h5>
        <p class="card-text">Category: {{chosenLot.category?.name}}</p>
        <p class="card-text">Maximum offered price: {{chosenLot.maxPrice}} $</p>
        <p class="card-text">{{chosenLot.description}}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">  {{chosenLot.timeStart | date:'dd.MM.yy h:mm:ss'}}</li>
          <li class="list-group-item">  {{chosenLot.timeEnd | date:'dd.MM.yy h:mm:ss'}} </li>
          <li class="list-group-item">  Hours left - {{timeLeft}} </li>
        </ul>
      </div>
    </div>
  </div>
</div>
